@mixin phone {
  @media (max-width: 768px) { @content; }
}

@mixin tablet {
  @media (min-width: 769px) { @content; }
}

@mixin desktop {
  @media (min-width: 1024px) { @content; }
}

@mixin widescreen {
  @media (min-width: 1216px) { @content; }
}

@mixin fullhd {
  @media (min-width: 1408px) { @content; }
}


#mainFooter {
  font-size: 0.8rem;
  color: black;


  @include phone {
    font-size: 1rem;
  }
}

#btmFooter {

  @include tablet {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items:center;
  }

  @include phone {
    margin-top: 1px;
    margin-bottom: 5px;
    justify-content: center;
    align-items:center;
  }
}
