@mixin phone {
  @media (max-width: 768px) { @content; }
}

@mixin tablet {
  @media (min-width: 769px) { @content; }
}

@mixin desktop {
  @media (min-width: 1024px) { @content; }
}

@mixin widescreen {
  @media (min-width: 1216px) { @content; }
}

@mixin fullhd {
  @media (min-width: 1408px) { @content; }
}

#cardStyle {
  border: 1px solid #000000;
  margin-left: 30px;
  margin-right: 30px;
}


#cardWid {
  border: 1px solid #000000;
}

#listTitle {
    font-size: 1.6rem;

  @include phone {
    font-size: 1.2rem;
    margin-top: 1px;
  }
}

#listName {
  font-size: 1.4rem;

  @include phone {
    font-size: 1.1rem;
   }
}

#containerList {
  background-color: grey;
}
